{% extends 'app/dummy.html' %}

{% block title %}
    <title>School Details List</title>
{% endblock %}

{% block body_block %}

<body>
    <center>
        
        <h1>Detail information of {{sclobject.sname}}</h1>
        <h2>School name is : {{sclobject.sname}}</h2>
        <h2>School Principal name is : {{sclobject.sprincipal}}</h2>
        <h2>School Location is : {{sclobject.slocation}}</h2>

        <h1> Student Details Are</h1>

        <table border="3px">
            <tr>
                <th>Student Name</th>
                <th>Student age</th>
            </tr>

        {% for st in sclobject.students.all %}
            <tr>
                <td>{{st.stname}}</td>
                <td>{{st.stage}}</td>

            </tr>
        {% endfor %}

        </table>

    <a href="{% url 'SchoolUpdate' pk=sclobject.pk %}" class="btn btn-primary">Update School</a> 

    </center>

{% endblock %}